<!DOCTYPE html>
<html>
<head>
    <title>蓝图</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link href="../../static/local/img/logo.jpg" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/admin-lte/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="../../static/admin-lte/css/skins/skin-blue-light.min.css"/>
</head>
<body class="sidebar-mini skin-blue-light">
<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo">Logo</a>
        <nav class="navbar navbar-static-top">头部</nav>
    </header>
    <aside class="main-sidebar">左边</aside>
    <div class="content-wrapper">内容</div>
    <footer class="main-footer">底部</footer>
</div>
<script src="../../static/jQuery/jquery.min.js"></script>
<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/admin-lte/js/app.min.js"></script>
</body>
</html>
